<!-- Timeline Start -->

<section id="timeline" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2 id="timeline">Career at a Glance!</h2>

	<br>

      <ul class="timeline">

          <li class="
          
          ">
            <div class="timeline-image">
              <img class="img-rounded" src="/img/timeline/grad.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>July 2013</h4>
              </div>
              <div class="timeline-body">
                <p>Graduated! Ready to set the world on fire</p>

              </div>
            </div>
          </li>
        
          
          

          <li class="
          
            timeline-inverted
          
          ">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/img/timeline/cog.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>April 2014</h4>
              </div>
              <div class="timeline-body">
                <p>Started working at <a href="https://www.cognizant.com/" target="_blank">Cognizant</a></p>

              </div>
            </div>
          </li>
        
          
          

          <li class="
          
          ">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/img/timeline/cog_work.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Linux &amp; Virtualization Engineer</h4>
              </div>
              <div class="timeline-body">
                <p>Responsibilities were to manage Bare-Metal and Vmware virtualized environments with Puppet</p>

              </div>
            </div>
          </li>
        
          
          

          <li class="
          
            timeline-inverted
          
          ">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/img/timeline/bye1.jpg" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>November 2016</h4>
              </div>
              <div class="timeline-body">
                <p>Farewell! I will miss you Cognizant</p>

              </div>
            </div>
          </li>
        
          
          

          <li class="
          
          ">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/img/timeline/gl.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>March 2017</h4>
              </div>
              <div class="timeline-body">
                <p>Started as Devops Engineer at <a href="https://www.globallogic.com/" target="_blank">Global Logic</a></p>

              </div>
            </div>
          </li>
        
          
          

          <li class="
          
            timeline-inverted
          ">
            <div class="timeline-image">
              <img class="img-circle img-responsive" src="/img/timeline/devops.png" alt="">
            </div>
            <div class="timeline-panel">
              <div class="timeline-heading">
                <h4>Devops Engineer</h4>
              </div>
              <div class="timeline-body">
                <p>From Ground to High-Up in AWS to Azure cloud, and back. The term ‘DevOps’ Sounds like music to my Ear’s!</p>

              </div>
            </div>
          </li>
        

        <li class="timeline-inverted">
          <div class="timeline-image">
            <img class="img-circle img-responsive" src="/img/timeline/default.png" alt="">
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>

<!-- Timeline End -->



<!-- Contact Start -->

<section id="contact" class="container content-section text-center">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <h2 id="contact">Contact</h2>

<p>If you have any questions, comments, or would just like to say hello in general, please don’t hesitate to <i class="fa fa-envelope fa-1x" aria-hidden="true"></i> me at <em>amaan.ngp at gmail dot com</em>. You can also contact me through the following social networks and I’ll be sure to respond in a timely manner!</p>

    </div>
  </div>
</section>

<!-- Contact End -->
<!-- PGP Key Declaration -->

<section id="pgp-key" class="container content-section text-center">
<p class="pgp-key">
  <a href="//keybase.io/godfatherisone/key.asc">
   <code>PGP: 2B51 CCC1 2D45 F037 BDE3 8A46 B422 957B 7A0E 8E93</code>
  </a>
</p>
</section>

   {% include google-maps.html %}
